In [6]:
#list

#Question: Write a program to remove duplicate elements from a list.

numbers=[1,2,3,4,2,1]
u_numbers=list(set(numbers))
print(u_numbers)

[1, 2, 3, 4]

In [8]:
# list + tuple

#Question: Convert a list into a tuple and display the result.

numbers=[1,2,3,4,5]
n=tuple(numbers)
print(n)

(1, 2, 3, 4, 5)

In [11]:
#set

#Question: Write a program to find elements that are present in one set but not in another.

a={1,2,3,4,5}
b={4,5,6,7,8}
print(a.difference(b))
print(b.difference(a))

{1, 2, 3}
{8, 6, 7}

In [40]:
# dictionary

#Question: Write a program to find the student with the highest marks from a dictionary.

students={"Binal":90,"Bhoomi":70,"Riya":20}
print(max(students,key=students.get),max(students.values()))

Binal 90

In [53]:
# Nested Structure

#Question: Create a dictionary where each student name has a list of marks, and calculate the average marks for each student.

students={"Binal":[90,70,80],"Bhoomi":[70,60,80],"Riya":[40,50,60]}
for student, marks in students.items():
    avg=sum(marks)/len(marks)
    print(student,avg)

Binal 80.0
Bhoomi 70.0
Riya 50.0

functions

In [33]:
#Write a function that takes a list and returns the largest element.

def largest(num):
    return max(num)
num=[1,2,3,4]
print(largest(num))

4

In [46]:
#Use map and lambda to square only the odd numbers in a list.

num=[1,2,3,4]
list(map(lambda x:x**2 if x%2!=0 else x,num))

[1, 2, 9, 4]

In [60]:
#Use filter to remove all empty strings from a list of strings.

str=[" ","binal"," "," ","bhoomi"]
list(filter(lambda x: x.strip()!="",str))

['binal', 'bhoomi']

In [71]:
#Write a function that takes a list of numbers and returns a list of their cubes.

def Cube(num):
    return [x**3 for x in num]
num=[1,2,3]
print(Cube(num))

[1, 8, 27]

In [72]:
#Write a lambda function to return the larger of two numbers.

(lambda x,y: x if x>y else y)(2,3)

3